.idea/
app/__pycache__/__init__.cpython-39.pyc
app/ui/views_tablesInfo_project/res/__pycache__/images_rc.cpython-39.pyc
app/utils/__pycache__/
app/__pycache__/
app/ui/views_tablesInfo_project/res/__pycache__/
logs/
app/config/
app/ui/__pycache__/data_table_config_ui.cpython-39.pyc
app/ui/data_table_config/__pycache__/__init__.cpython-39.pyc
*.pyc
dist/
/config/config_20230221200733.conf
config/config_20230221201012.conf
/config/user_config.conf
